{% extends 'login/base' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>please enter your username </title>
</head>

<body>
{% block content %}
    <form action="" method="post">
      <div align="right"><a href="/login" > login </a></div><br><br>
    <div align="center"> Email address

    <input type="email" name="email"   required><br><br>
    <button type="submit"> send </button> </div><br>
    </form>
    <div align="center">
        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}
    </div>
{% endblock %}
</body>
</html>