{% extends 'user/base' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" >
    <title>reset_password</title>
</head>
<body>

<form action="" method="post">
    {% csrf_token %}
    <br><br><br><br>
<div align="center">
    <input type="password" name="password1" placeholder="password" required><br><br>
    <input type="password" name="password2" placeholder="confirm password" required><br><br>
    <button type="submit"> send </button></div>

</form>
</body>
<div>
        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}
    </div>
<script>


</script>
</html>


{% endblock  %}